* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.register-body {
    background-color: #fdeef0;
    width: 100%;
    height: 649px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    margin-top: 75px;
}

.loginpage {
    width: 30%;
    margin-top: 2%;
    margin-bottom: 3%;
}

.register-imageSize {
    width: 100%;
}

.loginId {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 7%;
    background-color: white;
}

.loginMargin {
    padding-bottom: 8%;
}

.loginSize {
    font-weight: 700;
    font-size: 20px;
    color: #424553;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    ;
}

.inputCss {
    width: 90%;
    padding: 3%;
    border: 1px solid #d4d5d9;
    margin-bottom: 3%;
}

.terms{
    font-family: Assistant, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: #535766;
    font-size: 12px;
}

.spanColor{
    color: #ff3c6f;
    cursor: pointer;
}

.buttonCss{
    padding-bottom: 4%;
    width: 90%;
    background-color: #ff3c6f;
    border: none;
    padding-top: 5%;
    color: white;
}

.buttonMargin{
    margin-bottom: 8%;
    cursor: pointer;
}

.form-select-css{
    width: 90%;
    /* border: none; */
    font-size: 18px;
    outline: none;
    margin-bottom: 3%;
    padding: 2%;
}